# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from config import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [35]:
#import my clean CSV file. Since my original weather_df did not have anything >100% humidity, I will use that. 
csvfile = 'ExportedCSVs/Weather_DF.csv'
weather_df = pd.read_csv(csvfile)
weather_df.head(20)

,Unnamed: 0,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kichmengskiy Gorodok,59.98,45.79,76.84,87,67,3.58,RU,2020-07-15 13:06:46
1,1,Hobart,-42.88,147.33,46.40,75,90,5.82,AU,2020-07-15 13:05:23
2,2,Port Elizabeth,-33.92,25.57,62.60,45,15,4.70,ZA,2020-07-15 13:06:46
3,3,Diffa,13.32,12.61,94.78,33,2,3.65,NE,2020-07-15 13:06:46
4,4,Bathsheba,13.22,-59.52,86.00,66,20,11.41,BB,2020-07-15 13:05:06
5,5,Ponta do Sol,32.67,-17.10,75.99,62,4,5.39,PT,2020-07-15 13:06:46
6,6,Punta Arenas,-53.15,-70.92,30.20,86,19,8.05,CL,2020-07-15 13:05:04
7,7,Kumul,42.80,93.45,90.05,12,27,11.48,CN,2020-07-15 13:06:46
8,8,Provideniya,64.38,-173.30,46.29,94,100,5.70,RU,2020-07-15 13:07:12
9,9,Vestmannaeyjar,63.44,-20.27,52.54,91,100,23.20,IS,2020-07-15 13:06:47
10,10,Airai,-8.93,125.41,56.98,100,46,4.21,TL,2020-07-15 13:07:12
11,11,Jumla,29.27,82.18,68.36,68,58,2.53,NP,2020-07-15 13:07:12
12,12,Yulara,-25.24,130.99,46.40,31,0,4.70,AU,2020-07-15 13:07:13
13,13,Albany,42.60,-73.97,70.00,76,93,2.08,US,2020-07-15 13:05:02
14,14,Trairi,-3.28,-39.27,83.48,61,0,9.17,BR,2020-07-15 13:07:13
15,15,Tasiilaq,65.61,-37.64,44.60,75,75,4.70,GL,2020-07-15 13:06:48
16,16,Port Alfred,-33.59,26.89,62.11,39,0,6.20,ZA,2020-07-15 13:07:13
17,17,Muzaffarnagar,29.47,77.68,97.45,38,82,3.04,IN,2020-07-15 13:07:13
18,18,Jamestown,42.10,-79.24,66.00,93,1,6.60,US,2020-07-15 13:07:13
19,19,Trelew,-43.25,-65.31,36.57,74,15,5.55,AR,2020-07-15 13:06:48

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [36]:
# Configure gmaps
gmaps.configure(api_key = g_key)

In [37]:
#Plot my heatmap by lat and long. 
latlonglocations = weather_df[["Lat", "Long"]]
weight = weather_df["Humidity"].astype(float)
#make a variable for intensity 


figure_layout = {
    'width': '900px',
    'height': '500px',
    'border': '2px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Create heat layer
heat_layer = gmaps.heatmap_layer(latlonglocations, weights=weight, 
                                 dissipating=False, max_intensity = 100,
                                 point_radius=2)
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='2px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
#My weather conditions: Max Temp </= 80, windspeed < 10, < 60 cloudiness, humidity < 35 (I hate humidity)
# I am going to do a .loc with conjunctions to find my desired cities.
myweather_df = weather_df.loc[(weather_df['Max Temp'] <= 80)\
                              & (weather_df['Wind Speed'] <= 10)\
                              & (weather_df['Cloudiness'] < 60)\
                             & (weather_df['Humidity']< 35)]
# Drop null/NA values and display DF
myweather_df.dropna()
myweather_df = myweather_df.drop(columns=['Unnamed: 0'])
myweather_df

,City,Lat,Long,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,Yulara,-25.24,130.99,46.40,31,0,4.70,AU,2020-07-15 13:07:13
53,Cape Town,-33.93,18.42,62.60,33,0,9.17,ZA,2020-07-15 13:03:13
61,Leh,34.17,77.58,70.18,20,0,6.20,IN,2020-07-15 13:06:54
150,West Wendover,40.74,-114.07,66.20,20,1,4.70,US,2020-07-15 13:07:30
260,Kaeo,-35.10,173.78,57.99,3,34,1.99,NZ,2020-07-15 13:07:44
286,Mandalgovi,45.76,106.27,77.20,18,6,6.13,MN,2020-07-15 13:07:51
307,Saint George,37.10,-113.58,75.99,19,1,6.93,US,2020-07-15 13:05:34
340,Mount Isa,-20.73,139.50,51.80,34,0,6.93,AU,2020-07-15 13:07:59
347,Takāb,36.40,47.11,79.90,26,10,4.00,IR,2020-07-15 13:08:00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [39]:
#hotel_df = myweather_df.insert(["Hotel Name"])
hotel_df = myweather_df.loc[:,["City","Country", "Lat", "Long"]]
# I plan to add Hotel Name and Lat/Long so I can easily map and pull from my dataframe. 
hotel_df['Hotel Name']=""
hotel_df['Hotel Lat']=""
hotel_df['Hotel Lng']=""
hotel_df

              City Country    Lat    Long Hotel Name Hotel Lat Hotel Lng
12          Yulara      AU -25.24  130.99
53       Cape Town      ZA -33.93   18.42
61             Leh      IN  34.17   77.58
150  West Wendover      US  40.74 -114.07
260           Kaeo      NZ -35.10  173.78
286     Mandalgovi      MN  45.76  106.27
307   Saint George      US  37.10 -113.58
340      Mount Isa      AU -20.73  139.50
347          Takāb      IR  36.40   47.11

In [40]:
# Set up Parameter variables for my search
target_search = "hotel"
target_radius = 5000
target_type = "lodging"
# set up a Parameters dictionary
params = {"keyword": target_search,"radius": target_radius,"type": target_type,"key": g_key}
# Base URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
response = requests.get(base_url, params=params).json()

In [41]:
# find the first hotel and the coordinates
# use iterrows to iterate through pandas dataframe like in our class example. 

print('''
---------------------
Beginning your search
---------------------
''')
for index, row in hotel_df.iterrows():
    # Retrieve hotels but I have to go by the lat and long
    lat = row["Lat"]
    long = row["Long"]
    name = row["City"]
    # add keyword to params dict and equal to lat and long
    params["location"] = (f"{lat},{long}")
    # Assemble my response with the base url and params. 
    print(f"Retrieving Results for {name}.")
    response = requests.get(base_url, params=params).json()
    # extract results
    results = response['results']
    # I will need another try and except statements in case some hotels don't return.
    try:
        # Create a print statement and also locate and add hotel names and coordinates
        print(f"The closest hotel to {name} is {results[0]['name']}")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        hotel_df.loc[index, "Hotel Lat"] = results[0]['geometry']['location']['lat']
        hotel_df.loc[index, "Hotel Lng"] = results[0]['geometry']['location']['lng']
        
    except(KeyError, IndexError):
        # Create a print statement in case of errors. With that said, I still want my locations from above on my
        # vacation list so what I am going to do, is reprint the coordinates of the city and make sure to indicate
        # that no hotel was found. My reasoning for this is these are still cities that meet my criteria and I don't
        # have to have a hotel found in order to still visit. 
        print(f"Could not find a hotel for {name}... skipping to next vacation spot.")
        hotel_df.loc[index, "Hotel Name"] = "Hotel not found"
        hotel_df.loc[index, "Hotel Lat"] = hotel_df.loc[index, "Lat"]
        hotel_df.loc[index, "Hotel Lng"] = hotel_df.loc[index, "Long"]
    print("------------")
    
print('''
------------------------
The search has concluded
------------------------
''')

---------------------
Beginning your search
---------------------

Retrieving Results for Yulara.
The closest hotel to Yulara is Longitude 131
------------
Retrieving Results for Cape Town.
The closest hotel to Cape Town is Atlanticview Cape Town Boutique Hotel
------------
Retrieving Results for Leh.
The closest hotel to Leh is Hotel The Kaal, Leh, Ladakh
------------
Retrieving Results for West Wendover.
The closest hotel to West Wendover is The Wendover Nugget Hotel & Casino
------------
Retrieving Results for Kaeo.
The closest hotel to Kaeo is Pacific Harbour Lodge
------------
Retrieving Results for Mandalgovi.
The closest hotel to Mandalgovi is Mandal Hotel
------------
Retrieving Results for Saint George.
The closest hotel to Saint George is Best Western Plus Abbey Inn
------------
Retrieving Results for Mount Isa.
The closest hotel to Mount Isa is Abacus Motel
------------
Retrieving Results for Takāb.
The closest hotel to Takāb is Ranji HOTEL Takab
------------

------------------------
The search has concluded
------------------------

In [28]:
# Converting Hotel coordinates to floats so I can easily pull from the DF and map.
hotel_df['Hotel Lat'] = hotel_df['Hotel Lat'].astype(float)
hotel_df['Hotel Lng'] = hotel_df['Hotel Lng'].astype(float)
hotel_df

,City,Country,Lat,Long,Hotel Name,Hotel Lat,Hotel Lng
12,Yulara,AU,-25.24,130.99,Longitude 131,-25.250062,131.008353
53,Cape Town,ZA,-33.93,18.42,Cape Grace Hotel,-33.908581,18.420644
61,Leh,IN,34.17,77.58,"Hotel The Kaal, Leh, Ladakh",34.152852,77.565367
150,West Wendover,US,40.74,-114.07,Best Western Plus Wendover Inn,40.738357,-114.033929
260,Kaeo,NZ,-35.10,173.78,Pacific Harbour Lodge,-35.054260,173.740702
286,Mandalgovi,MN,45.76,106.27,Mandal Hotel,45.768341,106.274346
307,Saint George,US,37.10,-113.58,Best Western Plus Abbey Inn,37.089025,-113.584267
340,Mount Isa,AU,-20.73,139.50,Abacus Motel,-20.699471,139.486778
347,Takāb,IR,36.40,47.11,Ranji HOTEL Takab,36.406138,47.118193

In [42]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Hotel Lat", "Hotel Lng"]]

In [43]:
# plot my heatmap with the markers for the hotels I located. If I did not find a hotel, the original coordinates
# will be plotted. I will need to use the info box content from th cell directly above. 
figure_layout = {
    'width': '900px',
    'height': '500px',
    'border': '2px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
gmaps.figure(layout=figure_layout)
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='2px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…